<div class="row">
  <div class="col-xs-12">
    <table class="table leaders">
      <thead>
        <tr>
          <th style="width:1%;white-space:nowrap;"><span class="hide-xs show-sm">Rank</span><span class="hide-sm">#</span></th>
          <th>Magician</th>

          <th>
            <span class="hide-xs show-sm">
              Hours Mentored
              <i class="fa fa-question-circle" data-toggle="popover" data-placement="top" data-content="Total hours mentored" data-original-title="" title=""></i>
            </span>
          </th>
          <th>
            <span class="hide-xs show-sm">
              Years of Wizardry
              <i class="fa fa-question-circle" data-toggle="popover" data-placement="top" data-content="No of Years working in IT" data-original-title="" title=""></i>
            </span>
          </th>
          <th>Spells</th>
          <th style="width:1%;white-space:nowrap;"></th>
          <th style="width:1%;white-space:nowrap;"></th>
        </tr>
      </thead>
      <tbody>
            
              <tr class="rank-1">
                <td><a name="1"></a>1</td>
                <td>
                  <a class="leader-coder" href="/profile"><img src="https://wakatime.com/photo/544dc20e-93f9-4076-a6cd-97e12b1d24c1" class="img-circle m-right-xs-5">Merlin</a>
                </td>
                <td class="tcol">999999 hrs</td>
                <td class="avgcol">1300 years</td>
                <td class="langcol">Java, Vue.js, JavaScript, XML, JSON, SCSS, SQL, TypeScript, HTML</td>
              </tr>
            
          
            
              
              <tr class="rank-2">
                <td><a name="2"></a>2</td>
                <td>
                  <a class="leader-coder" href="/@Neikan?rank=2&amp;page=1"><img src="https://wakatime.com/photo/250d5fa4-ad06-49ed-aae6-38c2cb15d3dd" class="img-circle m-right-xs-5">Gandalf</a>
                </td>
                <td class="tcol">90 hrs</td>
                <td class="avgcol">12 years</td>
                <td class="langcol">Dart, TypeScript, YAML, Groovy, JSON, XML, JavaScript</td>
              </tr>
            
          
            
              
              <tr id="row" class="rank-3">
                <td><a name="3"></a>3</td>
                <td>
                  <a class="leader-coder" href="/@ffflabs?rank=3&amp;page=1"><img src="https://wakatime.com/photo/2dd5e7c6-e792-422f-9f0e-e76985af66e2" class="img-circle m-right-xs-5">Saruman</a>
                </td>
                <td class="tcol">83 hrs 20 mins</td>
                <td class="avgcol">14 years</td>
                <td class="langcol">TypeScript, JSON, LESS, Markdown, JavaScript, YAML, PHP, Bash, XML</td>
              </tr>
            
          
            
              
              <tr class="rank-4">
                <td><a name="4"></a>4</td>
                <td>
                  <a class="leader-coder" href="/@KuyaGene23?rank=4&amp;page=1"><img src="https://wakatime.com/photo/93506617-37ca-4069-aa50-6db6d05d3ad6" class="img-circle m-right-xs-5">Ganondorf</a>

                </td>
                <td class="tcol">79 hrs 33 mins</td>
                <td class="avgcol">6 year</td>
                <td class="langcol">SQL, JavaScript, HTML, C++, JSON</td>
              </tr>
            
          
            
              
              <tr class="rank-5">
                <td><a name="5"></a>5</td>
                <td>
                  <a class="leader-coder" href="/@draxel?rank=5&amp;page=1"><img src="https://wakatime.com/photo/2e691040-ef42-42f0-bba3-2079a6d4ceee" class="img-circle m-right-xs-5">Albus Dumbledore</a>
                </td>
                <td class="tcol">77 hrs 50 mins</td>
                <td class="avgcol">8 years</td>
                <td class="langcol">Lua, C++, Python, YAML, Docker, Bash, Rust, Git, CSV</td>
              </tr>
            
          
            
              
              <tr class="rank-6">
                <td><a name="6"></a>6</td>
                <td>
                  <a class="leader-coder" href="/@3b255146-2c59-4352-93f3-61c841e74e74?rank=6&amp;page=1"><img src="https://wakatime.com/photo/3b255146-2c59-4352-93f3-61c841e74e74" class="img-circle m-right-xs-5">Severus Snapes</a>
                </td>
                <td class="tcol">76 hrs 4 mins</td>
                <td class="avgcol">2 years</td>
                <td class="langcol">PHP, TypeScript, SCSS, Markdown, Text, JavaScript, XML, SmartyConfig, CSS</td>
              </tr>
            
          
            
              
              <tr class="rank-7">
                <td><a name="7"></a>7</td>
                <td>
                  <a class="leader-coder" href="/@GWDx?rank=7&amp;page=1"><img src="https://wakatime.com/photo/267483d8-a73f-4920-8180-c95f0cab782d" class="img-circle m-right-xs-5">Demi-Human Queen Gilika</a>
            
                </td>
                <td class="tcol">73 hrs 17 mins</td>
                <td class="avgcol">3 years</td>
                <td class="langcol">C++, C, Python, Makefile, Markdown, Rust, Normal, CMake, JSON</td>
              </tr>
            
          
            
              
              <tr class="rank-8">
                <td><a name="8"></a>8</td>
                <td>
                  <a class="leader-coder" href="/@AnyaForger?rank=8&amp;page=1"><img src="https://wakatime.com/photo/a1035688-df7a-4e01-a15e-8835294db6b9" class="img-circle m-right-xs-5">Godskin Apostle</a>
                </td>
                <td class="tcol">72 hrs 42 mins</td>
                <td class="avgcol">4 years</td>
                <td class="langcol">Java, Vue.js, XML, TypeScript, YAML, JavaScript, Python, Docker, LESS</td>
              </tr>
            
          
            
              
              <tr class="rank-9">
                <td><a name="9"></a>9</td>
                <td>
                  <a class="leader-coder" href="/@ethanredmond2?rank=9&amp;page=1"><img src="https://wakatime.com/photo/b3ff917d-c6ac-48c9-9184-9bd04b19d184" class="img-circle m-right-xs-5">Ethan Redmond</a>
                </td>
                <td class="tcol">71 hrs 26 mins</td>
                <td class="avgcol">1 years</td>
                <td class="langcol">PHP, TypeScript, Markdown, SQL, Text, SCSS, SmartyConfig, JavaScript, textmate</td>
              </tr>
            
          
            
              
              <tr class="rank-10">
                <td><a name="10"></a>10</td>
                <td>
                  <a class="leader-coder" href="/@03balogun?rank=10&amp;page=1"><img src="https://wakatime.com/photo/2c173fb9-e3c9-43d8-ad9e-e0063cd295ab" class="img-circle m-right-xs-5">Deity</a>
                </td>
                <td class="tcol">70 hrs 55 mins</td>
                <td class="avgcol">1 year</td>
                <td class="langcol">TypeScript, Vue.js, JavaScript, JSON, Bash, Text, SQL, Markdown, SCSS</td>
              </tr>
            
          
            
              
              <tr class="rank-11">
                <td><a name="11"></a>11</td>
                <td>
                  <a class="leader-coder" href="/@zhoushengdao?rank=11&amp;page=1"><img src="https://wakatime.com/photo/478bbe56-7667-4dfe-bd00-0d3cb4e683eb" class="img-circle m-right-xs-5">周盛道</a>
                </td>
                <td class="tcol">70 hrs 21 mins</td>
                <td class="avgcol">2 year</td>
                <td class="langcol">Browsing, JavaScript, HTML, JSON, YAML, Sublime Text Config, Markdown, Text, CSS</td>
              </tr>
            
          
            
              
              <tr class="rank-12">
                <td><a name="12"></a>12</td>
                <td>
                  <a class="leader-coder" href="/@devmrh?rank=12&amp;page=1"><img src="https://wakatime.com/photo/8507e75b-5cb4-47db-a60b-fe98d98511f6" class="img-circle m-right-xs-5">mohammadreza</a>
                </td>
                <td class="tcol">68 hrs 59 mins</td>
                <td class="avgcol">6 years</td>
                <td class="langcol">Vue.js, PHP, TypeScript, JavaScript, JSON, Bash, Text, Python, HTML</td>
              </tr>
            
          
            
              
              <tr class="rank-13">
                <td><a name="13"></a>13</td>
                <td>
                  <a class="leader-coder" href="/@6edcd676-c0b8-478f-ae68-24f5b4b42288?rank=13&amp;page=1"><img src="https://wakatime.com/photo/6edcd676-c0b8-478f-ae68-24f5b4b42288" class="img-circle m-right-xs-5">solatyolo</a>
                </td>
                <td class="tcol">68 hrs 43 mins</td>
                <td class="avgcol">2 years</td>
                <td class="langcol">Go, GraphQL, TypeScript, JSON, Protocol Buffer, SQL, YAML, JavaScript, Markdown</td>
              </tr>
            
          
            
              
              <tr class="rank-14">
                <td><a name="14"></a>14</td>
                <td>
                  <a class="leader-coder" href="/@b92f0182-1eaa-4e25-82f1-d6f01f775703?rank=14&amp;page=1"><img src="https://wakatime.com/photo/b92f0182-1eaa-4e25-82f1-d6f01f775703" class="img-circle m-right-xs-5">lagmanzaza</a>
                </td>
                <td class="tcol">67 hrs 53 mins</td>
                <td class="avgcol">1 year</td>
                <td class="langcol">TypeScript, JSON, Bash, Markdown, GraphQL, SQL, JavaScript, YAML</td>
              </tr>
            
          
            
              
              <tr class="rank-15">
                <td><a name="15"></a>15</td>
                <td>
                  <a class="leader-coder" href="/@TonyHe?rank=15&amp;page=1"><img src="https://wakatime.com/photo/e5e3bac2-f026-4164-9356-4adfeab14ad4" class="img-circle m-right-xs-5">Lipeng He</a>
                </td>
                <td class="tcol">67 hrs 16 mins</td>
                <td class="avgcol">0 years</td>
                <td class="langcol">Ruby, TypeScript, JavaScript, YAML, Markdown, JSON, CSS, Bash, ERB</td>
              </tr>
              
              <tr class="rank-16">
                <td><a name="16"></a>16</td>
                <td>
                  <a class="leader-coder" href="/@gabrielvoigt?rank=16&amp;page=1"><img src="https://wakatime.com/photo/7b8df7c6-fd7d-46bd-9e73-ad0709317205" class="img-circle m-right-xs-5">Gabriel Voigt Leandro</a>
                </td>
                <td class="tcol">66 hrs 26 mins</td>
                <td class="avgcol">1 year</td>
                <td class="langcol">Java, TypeScript, SQL, HTML, Text, XML, JavaScript, Properties, JSON</td>
              </tr>
            
          
            
              
              <tr class="rank-17">
                <td><a name="17"></a>17</td>
                <td>
                  <a class="leader-coder" href="/@iota9star?rank=17&amp;page=1"><img src="https://wakatime.com/photo/1e1f375b-1ff4-4c83-bb7e-6d7733120421" class="img-circle m-right-xs-5">尽管如此世界依然美丽</a>
                </td>
                <td class="tcol">65 hrs 55 mins</td>
                <td class="avgcol">4 years</td>
                <td class="langcol">Dart, Text, YAML, Kotlin, ANTLR v4 grammar file, Bash, JavaScript, Markdown, Bat</td>
              </tr>
            
          
            
              
              <tr class="rank-18">
                <td><a name="18"></a>18</td>
                <td>
                  <a class="leader-coder" href="/@olivia_tran?rank=18&amp;page=1"><img src="https://wakatime.com/photo/40efc3b0-1833-4eae-b4f1-a9316db91e97" class="img-circle m-right-xs-5">Olivia Tran</a>
                </td>
                <td class="tcol">65 hrs 55 mins</td>
                <td class="avgcol">2 years</td>
                <td class="langcol">HTML, Python, JavaScript, CSS, Markdown, Bash, Git Config, SQL, Java</td>
              </tr>
            
          
            
              
              <tr class="rank-19">
                <td><a name="19"></a>19</td>
                <td>
                  <a class="leader-coder" href="/@bombies?rank=19&amp;page=1"><img src="https://wakatime.com/photo/21441df5-6705-441a-94ac-efeebac254de" class="img-circle m-right-xs-5">Ajani Green</a>
                </td>
                <td class="tcol">65 hrs 8 mins</td>
                <td class="avgcol">4 years</td>
                <td class="langcol">JavaScript, CSS, Java, JSON, Bash, TypeScript, HTML, XML, Git Config</td>
              </tr>
            
          
            
              
              <tr class="rank-20">
                <td><a name="20"></a>20</td>
                <td>
                  <a class="leader-coder" href="/@awais_amjed?rank=20&amp;page=1"><img src="https://wakatime.com/photo/5f9b676a-2d79-4519-9fd0-f7f845838ae0" class="img-circle m-right-xs-5">Awais Amjed</a>
                </td>
                <td class="tcol">64 hrs 57 mins</td>
                <td class="avgcol">1 year</td>
                <td class="langcol">Dart, Ruby, Markdown, YAML, Groovy, XML, Properties, Java, Text</td>
              </tr>
            
          
            
              
              <tr class="rank-21">
                <td><a name="21"></a>21</td>
                <td>
                  <a class="leader-coder" href="/@klincoder?rank=21&amp;page=1"><img src="https://wakatime.com/photo/4c09f3d6-6027-46a6-9631-e3c2ca602ba2" class="img-circle m-right-xs-5">Klincoder</a>
                </td>
                <td class="tcol">63 hrs 39 mins</td>
                <td class="avgcol">3 years</td>
                <td class="langcol">JavaScript, JSON, Bash</td>
              </tr>
            
          
            
              
              <tr id="row" class="rank-22">
                <td><a name="22"></a>22</td>
                <td>
                  <a class="leader-coder" href="/@ntnyq?rank=22&amp;page=1"><img src="https://wakatime.com/photo/79d45fbd-b519-4968-925f-64dbdf0f5186" class="img-circle m-right-xs-5">@ntnyq</a>
                </td>
                <td class="tcol">63 hrs 20 mins</td>
                <td class="avgcol">4 years</td>
                <td class="langcol">JavaScript, Vue.js, TypeScript, Smarty, JSON, Markdown, HTML, SCSS, YAML</td>
              </tr>
            
          
            
              
              <tr class="rank-23">
                <td><a name="23"></a>23</td>
                <td>
                  <a class="leader-coder" href="/@bufleek?rank=23&amp;page=1"><img src="https://wakatime.com/photo/a3e8bede-fd75-4fb7-bf7d-ebedf004ec2b" class="img-circle m-right-xs-5">Bruno Kiprop</a>
                </td>
                <td class="tcol">63 hrs 19 mins</td>
                <td class="avgcol">16 years</td>
                <td class="langcol">Dart, YAML, XML, Git Config</td>
              </tr>
            
          
            
              
              <tr class="rank-24">
                <td><a name="24"></a>24</td>
                <td>
                  <a class="leader-coder" href="/@JounQin?rank=24&amp;page=1"><img src="https://wakatime.com/photo/dffd0741-19a5-41de-8f81-21934991e045" class="img-circle m-right-xs-5">JounQin</a>
                </td>
                <td class="tcol">63 hrs 1 min</td>
                <td class="avgcol">2 years</td>
                <td class="langcol">TypeScript, Go, HTML, JavaScript, JSON, YAML, SCSS, Python, MDX</td>
              </tr>
            
          
            
              
              <tr class="rank-25">
                <td><a name="25"></a>25</td>
                <td>
                  <a class="leader-coder" href="/@bkader?rank=25&amp;page=1"><img src="https://wakatime.com/photo/8fc194fa-5e83-446c-9cab-0d0b69986fb6" class="img-circle m-right-xs-5">Kader Bouyakoub</a>
                </td>
                <td class="tcol">63 hrs</td>
                <td class="avgcol">1year</td>
                <td class="langcol">Lua, TeX, XML, Sublime Text Config, Markdown</td>
              </tr>
            
          
            
              
              <tr class="rank-26">
                <td><a name="26"></a>26</td>
                <td>
                  <a class="leader-coder" href="/@laitingsheng?rank=26&amp;page=1"><img src="https://wakatime.com/photo/7c521748-c4e2-4b07-9c5e-8e6011850c16" class="img-circle m-right-xs-5">Tinson Lai</a>
                </td>
                <td class="tcol">62 hrs 42 mins</td>
                <td class="avgcol">5 years</td>
                <td class="langcol">Java, C++, Kotlin, Python, YAML, JSON, CMake, XML, GitIgnore file</td>
              </tr>
            
          
            
              
              <tr class="rank-27">
                <td><a name="27"></a>27</td>
                <td>
                  <a class="leader-coder" href="/@mcereal?rank=27&amp;page=1"><img src="https://wakatime.com/photo/cf6c9013-a24e-473b-bf30-766453b4988a" class="img-circle m-right-xs-5">MICHAEL CURTIS</a>
                </td>
                <td class="tcol">61 hrs 45 mins</td>
                <td class="avgcol">9 years</td>
                <td class="langcol">Go, Terraform, YAML, Markdown, Bash, JSON, Docker, HTML, Nginx configuration file</td>
              </tr>
            
          
            
              
              <tr class="rank-28">
                <td><a name="28"></a>28</td>
                <td>
                  <a class="leader-coder" href="/@thuongtruong1009?rank=28&amp;page=1"><img src="https://wakatime.com/photo/4c54d05e-bd51-4cf8-8d4e-e1a2c45d4dc2" class="img-circle m-right-xs-5">Thuong Truong</a>
                </td>
                <td class="tcol">61 hrs 37 mins</td>
                <td class="avgcol">10 years</td>
                <td class="langcol">Vue.js, JavaScript, HTML, TypeScript, JSON, PHP, YAML, CSS, Bash</td>
              </tr>
            
          
            
              
              <tr class="rank-29">
                <td><a name="29"></a>29</td>
                <td>
                  <a class="leader-coder" href="/@muigai_david?rank=29&amp;page=1"><img src="https://wakatime.com/photo/49fb5943-1467-45d0-b0c7-edaeffd27625" class="img-circle m-right-xs-5">David Muigai</a>
                </td>
                <td class="tcol">61 hrs 30 mins</td>
                <td class="avgcol">8 years</td>
                <td class="langcol">Kotlin, XML, Java, Groovy</td>
              </tr>
            
          
            
              
              <tr class="rank-30">
                <td><a name="30"></a>30</td>
                <td>
                  <a class="leader-coder" href="/@caarlos?rank=30&amp;page=1"><img src="https://wakatime.com/photo/f7d2af3a-edb4-4cf9-b88c-56c89386c124" class="img-circle m-right-xs-5">Carlos Roberto</a>
                </td>
                <td class="tcol">61 hrs 26 mins</td>
                <td class="avgcol">10 years</td>
                <td class="langcol">Vue.js, TypeScript, JavaScript, Markdown, CSS, HTML, JSON, PHP, Blade Template</td>
              </tr>
              
              <tr class="rank-31">
                <td><a name="31"></a>31</td>
                <td>
                  <a class="leader-coder" href="/@thyrix?rank=31&amp;page=1"><img src="https://wakatime.com/photo/31602cf5-fb42-4942-b483-8b0e9c5141c8" class="img-circle m-right-xs-5">Thyrix Yang</a>
                </td>
                <td class="tcol">61 hrs 19 mins</td>
                <td class="avgcol">8 years</td>
                <td class="langcol">Python, TeX, Markdown, BibTeX, Docker</td>
              </tr>
            
          
            
              
              <tr class="rank-32">
                <td><a name="32"></a>32</td>
                <td>
                  <a class="leader-coder" href="/@SamProgramiz?rank=32&amp;page=1"><img src="https://wakatime.com/photo/a44dd291-9573-44f6-86ce-52fef9a5fd84" class="img-circle m-right-xs-5">samuel owino</a>
                </td>
                <td class="tcol">61 hrs</td>
                <td class="avgcol">8 years</td>
                <td class="langcol">Java, Swift, XML, Groovy, Properties, SQL, ObjectiveC, Text, JavaScript</td>
              </tr>
            
          
            
              
              
               
            
          
      
             
            
          
        
        
      </tbody>
    </table>
  </div>
</div>