<div class="row">
  <div class="col-xs-12">
    <table class="table leaders">
      <thead>
        <tr>
          <th style="width:1%;white-space:nowrap;"><span class="hide-xs show-sm">Rank</span><span class="hide-sm">#</span></th>
          <th>Employee</th>
          <th>
            <span class="hide-xs show-sm">
              Hours Mentored
              <i class="fa fa-question-circle" data-toggle="popover" data-placement="top" data-content="Total hours mentored" data-original-title="" title=""></i>
            </span>
          </th>
          <th>
            <span class="hide-xs show-sm">
              Years of Experience
              <i class="fa fa-question-circle" data-toggle="popover" data-placement="top" data-content="No of Years working in IT" data-original-title="" title=""></i>
            </span>
          </th>
          <th>Skills & Expertise</th>
          <th style="width:1%;white-space:nowrap;"></th>
          <th style="width:1%;white-space:nowrap;"></th>
        </tr>
      </thead>
      <tbody>
        
          
          
            
              
              <tr class="rank-1">
                <td><a name="1"></a>1</td>
                <td>
                  <a class="leader-coder" href="/@Judiaks?rank=1&amp;page=1"><img src="https://wakatime.com/photo/544dc20e-93f9-4076-a6cd-97e12b1d24c1" class="img-circle m-right-xs-5">Judiaks</a>
                </td>
                <td class="tcol">117 hrs 27 mins</td>
                <td class="avgcol">2 years</td>
                <td class="langcol"><span><a href="/leaders/language/java">Java</a>, <a href="/leaders/language/vue.js">Vue.js</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/xml">XML</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/scss">SCSS</a>, <a href="/leaders/language/sql">SQL</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/html">HTML</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=CN" title="" class="tip" data-original-title="Shanghai, China">🇨🇳</a></td>
              </tr>
            
          
            
              
              <tr class="rank-2">
                <td><a name="2"></a>2</td>
                <td>
                  <a class="leader-coder" href="/@Neikan?rank=2&amp;page=1"><img src="https://wakatime.com/photo/250d5fa4-ad06-49ed-aae6-38c2cb15d3dd" class="img-circle m-right-xs-5">Eugene Sladkov</a>
                </td>
                <td class="tcol">90 hrs</td>
                <td class="avgcol">12 years</td>
                <td class="langcol"><span><a href="/leaders/language/dart">Dart</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/groovy">Groovy</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/xml">XML</a>, <a href="/leaders/language/javascript">JavaScript</a> </span></td>
                <td><a class="label label-info" href="?hireable=true" title="Available for employment or contracting">hireable</a></td>
                <td class="ccol"><a href="?country_code=RU" title="" class="tip" data-original-title="Saint Petersburg, St.-Petersburg, Russia">🇷🇺</a></td>
              </tr>
            
          
            
              
              <tr class="rank-3">
                <td><a name="3"></a>3</td>
                <td>
                  <a class="leader-coder" href="/@ffflabs?rank=3&amp;page=1"><img src="https://wakatime.com/photo/2dd5e7c6-e792-422f-9f0e-e76985af66e2" class="img-circle m-right-xs-5">Felipe Figueroa</a>
                </td>
                <td class="tcol">83 hrs 20 mins</td>
                <td class="avgcol">14 years</td>
                <td class="langcol"><span><a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/less">LESS</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/php">PHP</a>, <a href="/leaders/language/bash">Bash</a>, <a href="/leaders/language/xml">XML</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=CL" title="" class="tip" data-original-title="Santiago, Chile">🇨🇱</a></td>
              </tr>
            
          
            
              
              <tr class="rank-4">
                <td><a name="4"></a>4</td>
                <td>
                  <a class="leader-coder" href="/@KuyaGene23?rank=4&amp;page=1"><img src="https://wakatime.com/photo/93506617-37ca-4069-aa50-6db6d05d3ad6" class="img-circle m-right-xs-5">Gene Yee</a>
                </td>
                <td class="tcol">79 hrs 33 mins</td>
                <td class="avgcol">6 year</td>
                <td class="langcol"><span><a href="/leaders/language/sql">SQL</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/html">HTML</a>, <a href="/leaders/language/c%2B%2B">C++</a>, <a href="/leaders/language/json">JSON</a> </span></td>
                <td><a class="label label-info" href="?hireable=true" title="Available for employment or contracting">hireable</a></td>
                <td class="ccol"><a href="?country_code=US" title="" class="tip" data-original-title="Las Vegas, Nevada, United States">🇺🇸</a></td>
              </tr>
            
          
            
              
              <tr class="rank-5">
                <td><a name="5"></a>5</td>
                <td>
                  <a class="leader-coder" href="/@draxel?rank=5&amp;page=1"><img src="https://wakatime.com/photo/2e691040-ef42-42f0-bba3-2079a6d4ceee" class="img-circle m-right-xs-5">Drake Axelrod</a>
                </td>
                <td class="tcol">77 hrs 50 mins</td>
                <td class="avgcol">8 years</td>
                <td class="langcol"><span><a href="/leaders/language/lua">Lua</a>, <a href="/leaders/language/c%2B%2B">C++</a>, <a href="/leaders/language/python">Python</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/docker">Docker</a>, <a href="/leaders/language/bash">Bash</a>, <a href="/leaders/language/rust">Rust</a>, <a href="/leaders/language/git">Git</a>, <a href="/leaders/language/csv">CSV</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=SE" title="" class="tip" data-original-title="Göteborg, Västra Götaland, Sweden">🇸🇪</a></td>
              </tr>
            
          
            
              
              <tr class="rank-6">
                <td><a name="6"></a>6</td>
                <td>
                  <a class="leader-coder" href="/@3b255146-2c59-4352-93f3-61c841e74e74?rank=6&amp;page=1"><img src="https://wakatime.com/photo/3b255146-2c59-4352-93f3-61c841e74e74" class="img-circle m-right-xs-5">Joshua Redmond</a>
                </td>
                <td class="tcol">76 hrs 4 mins</td>
                <td class="avgcol">2 years</td>
                <td class="langcol"><span><a href="/leaders/language/php">PHP</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/scss">SCSS</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/text">Text</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/xml">XML</a>, <a href="/leaders/language/smartyconfig">SmartyConfig</a>, <a href="/leaders/language/css">CSS</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=NZ" title="" class="tip" data-original-title="Auckland, New Zealand">🇳🇿</a></td>
              </tr>
            
          
            
              
              <tr class="rank-7">
                <td><a name="7"></a>7</td>
                <td>
                  <a class="leader-coder" href="/@GWDx?rank=7&amp;page=1"><img src="https://wakatime.com/photo/267483d8-a73f-4920-8180-c95f0cab782d" class="img-circle m-right-xs-5">@GWDx</a>
                </td>
                <td class="tcol">73 hrs 17 mins</td>
                <td class="avgcol">3 years</td>
                <td class="langcol"><span><a href="/leaders/language/c%2B%2B">C++</a>, <a href="/leaders/language/c">C</a>, <a href="/leaders/language/python">Python</a>, <a href="/leaders/language/makefile">Makefile</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/rust">Rust</a>, <a href="/leaders/language/normal">Normal</a>, <a href="/leaders/language/cmake">CMake</a>, <a href="/leaders/language/json">JSON</a>, …</span></td>
                <td></td>
                <td class="ccol"></td>
              </tr>
            
          
            
              
              <tr class="rank-8">
                <td><a name="8"></a>8</td>
                <td>
                  <a class="leader-coder" href="/@AnyaForger?rank=8&amp;page=1"><img src="https://wakatime.com/photo/a1035688-df7a-4e01-a15e-8835294db6b9" class="img-circle m-right-xs-5">Anya Forger</a>
                </td>
                <td class="tcol">72 hrs 42 mins</td>
                <td class="avgcol">4 years</td>
                <td class="langcol"><span><a href="/leaders/language/java">Java</a>, <a href="/leaders/language/vue.js">Vue.js</a>, <a href="/leaders/language/xml">XML</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/python">Python</a>, <a href="/leaders/language/docker">Docker</a>, <a href="/leaders/language/less">LESS</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=CN" title="" class="tip" data-original-title="Suzhou, Jiangsu, China">🇨🇳</a></td>
              </tr>
            
          
            
              
              <tr class="rank-9">
                <td><a name="9"></a>9</td>
                <td>
                  <a class="leader-coder" href="/@ethanredmond2?rank=9&amp;page=1"><img src="https://wakatime.com/photo/b3ff917d-c6ac-48c9-9184-9bd04b19d184" class="img-circle m-right-xs-5">Ethan Redmond</a>
                </td>
                <td class="tcol">71 hrs 26 mins</td>
                <td class="avgcol">1 years</td>
                <td class="langcol"><span><a href="/leaders/language/php">PHP</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/sql">SQL</a>, <a href="/leaders/language/text">Text</a>, <a href="/leaders/language/scss">SCSS</a>, <a href="/leaders/language/smartyconfig">SmartyConfig</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/textmate">textmate</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=NZ" title="" class="tip" data-original-title="Auckland, New Zealand">🇳🇿</a></td>
              </tr>
            
          
            
              
              <tr class="rank-10">
                <td><a name="10"></a>10</td>
                <td>
                  <a class="leader-coder" href="/@03balogun?rank=10&amp;page=1"><img src="https://wakatime.com/photo/2c173fb9-e3c9-43d8-ad9e-e0063cd295ab" class="img-circle m-right-xs-5">Deity</a>
                </td>
                <td class="tcol">70 hrs 55 mins</td>
                <td class="avgcol">1 year</td>
                <td class="langcol"><span><a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/vue.js">Vue.js</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/bash">Bash</a>, <a href="/leaders/language/text">Text</a>, <a href="/leaders/language/sql">SQL</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/scss">SCSS</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=NG" title="" class="tip" data-original-title="Lagos, Nigeria">🇳🇬</a></td>
              </tr>
            
          
            
              
              <tr class="rank-11">
                <td><a name="11"></a>11</td>
                <td>
                  <a class="leader-coder" href="/@zhoushengdao?rank=11&amp;page=1"><img src="https://wakatime.com/photo/478bbe56-7667-4dfe-bd00-0d3cb4e683eb" class="img-circle m-right-xs-5">周盛道</a>
                </td>
                <td class="tcol">70 hrs 21 mins</td>
                <td class="avgcol">2 year</td>
                <td class="langcol"><span><a href="/leaders/language/browsing">Browsing</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/html">HTML</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/sublime%20text%20config">Sublime Text Config</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/text">Text</a>, <a href="/leaders/language/css">CSS</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=CN" title="" class="tip" data-original-title="Beijing, China">🇨🇳</a></td>
              </tr>
            
          
            
              
              <tr class="rank-12">
                <td><a name="12"></a>12</td>
                <td>
                  <a class="leader-coder" href="/@devmrh?rank=12&amp;page=1"><img src="https://wakatime.com/photo/8507e75b-5cb4-47db-a60b-fe98d98511f6" class="img-circle m-right-xs-5">mohammadreza</a>
                </td>
                <td class="tcol">68 hrs 59 mins</td>
                <td class="avgcol">6 years</td>
                <td class="langcol"><span><a href="/leaders/language/vue.js">Vue.js</a>, <a href="/leaders/language/php">PHP</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/bash">Bash</a>, <a href="/leaders/language/text">Text</a>, <a href="/leaders/language/python">Python</a>, <a href="/leaders/language/html">HTML</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=IR" title="" class="tip" data-original-title="Tehran, Iran">🇮🇷</a></td>
              </tr>
            
          
            
              
              <tr class="rank-13">
                <td><a name="13"></a>13</td>
                <td>
                  <a class="leader-coder" href="/@6edcd676-c0b8-478f-ae68-24f5b4b42288?rank=13&amp;page=1"><img src="https://wakatime.com/photo/6edcd676-c0b8-478f-ae68-24f5b4b42288" class="img-circle m-right-xs-5">solatyolo</a>
                </td>
                <td class="tcol">68 hrs 43 mins</td>
                <td class="avgcol">2 years</td>
                <td class="langcol"><span><a href="/leaders/language/go">Go</a>, <a href="/leaders/language/graphql">GraphQL</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/protocol%20buffer">Protocol Buffer</a>, <a href="/leaders/language/sql">SQL</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/markdown">Markdown</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=CN" title="" class="tip" data-original-title="Shanghai, China">🇨🇳</a></td>
              </tr>
            
          
            
              
              <tr class="rank-14">
                <td><a name="14"></a>14</td>
                <td>
                  <a class="leader-coder" href="/@b92f0182-1eaa-4e25-82f1-d6f01f775703?rank=14&amp;page=1"><img src="https://wakatime.com/photo/b92f0182-1eaa-4e25-82f1-d6f01f775703" class="img-circle m-right-xs-5">lagmanzaza</a>
                </td>
                <td class="tcol">67 hrs 53 mins</td>
                <td class="avgcol">1 year</td>
                <td class="langcol"><span><a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/bash">Bash</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/graphql">GraphQL</a>, <a href="/leaders/language/sql">SQL</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/yaml">YAML</a> </span></td>
                <td></td>
                <td class="ccol"></td>
              </tr>
            
          
            
              
              <tr class="rank-15">
                <td><a name="15"></a>15</td>
                <td>
                  <a class="leader-coder" href="/@TonyHe?rank=15&amp;page=1"><img src="https://wakatime.com/photo/e5e3bac2-f026-4164-9356-4adfeab14ad4" class="img-circle m-right-xs-5">Lipeng He</a>
                </td>
                <td class="tcol">67 hrs 16 mins</td>
                <td class="avgcol">0 years</td>
                <td class="langcol"><span><a href="/leaders/language/ruby">Ruby</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/css">CSS</a>, <a href="/leaders/language/bash">Bash</a>, <a href="/leaders/language/erb">ERB</a>, …</span></td>
                <td><a class="label label-info" href="?hireable=true" title="Available for employment or contracting">hireable</a></td>
                <td class="ccol"><a href="?country_code=CN" title="" class="tip" data-original-title="Beijing, China">🇨🇳</a></td>
              </tr>
              
              <tr class="rank-16">
                <td><a name="16"></a>16</td>
                <td>
                  <a class="leader-coder" href="/@gabrielvoigt?rank=16&amp;page=1"><img src="https://wakatime.com/photo/7b8df7c6-fd7d-46bd-9e73-ad0709317205" class="img-circle m-right-xs-5">Gabriel Voigt Leandro</a>
                </td>
                <td class="tcol">66 hrs 26 mins</td>
                <td class="avgcol">1 year</td>
                <td class="langcol"><span><a href="/leaders/language/java">Java</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/sql">SQL</a>, <a href="/leaders/language/html">HTML</a>, <a href="/leaders/language/text">Text</a>, <a href="/leaders/language/xml">XML</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/properties">Properties</a>, <a href="/leaders/language/json">JSON</a>, …</span></td>
                <td></td>
                <td class="ccol"></td>
              </tr>
            
          
            
              
              <tr class="rank-17">
                <td><a name="17"></a>17</td>
                <td>
                  <a class="leader-coder" href="/@iota9star?rank=17&amp;page=1"><img src="https://wakatime.com/photo/1e1f375b-1ff4-4c83-bb7e-6d7733120421" class="img-circle m-right-xs-5">尽管如此世界依然美丽</a>
                </td>
                <td class="tcol">65 hrs 55 mins</td>
                <td class="avgcol">4 years</td>
                <td class="langcol"><span><a href="/leaders/language/dart">Dart</a>, <a href="/leaders/language/text">Text</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/kotlin">Kotlin</a>, <a href="/leaders/language/antlr%20v4%20grammar%20file">ANTLR v4 grammar file</a>, <a href="/leaders/language/bash">Bash</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/bat">Bat</a>, …</span></td>
                <td></td>
                <td class="ccol"></td>
              </tr>
            
          
            
              
              <tr class="rank-18">
                <td><a name="18"></a>18</td>
                <td>
                  <a class="leader-coder" href="/@olivia_tran?rank=18&amp;page=1"><img src="https://wakatime.com/photo/40efc3b0-1833-4eae-b4f1-a9316db91e97" class="img-circle m-right-xs-5">Olivia Tran</a>
                </td>
                <td class="tcol">65 hrs 55 mins</td>
                <td class="avgcol">2 years</td>
                <td class="langcol"><span><a href="/leaders/language/html">HTML</a>, <a href="/leaders/language/python">Python</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/css">CSS</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/bash">Bash</a>, <a href="/leaders/language/git%20config">Git Config</a>, <a href="/leaders/language/sql">SQL</a>, <a href="/leaders/language/java">Java</a>, …</span></td>
                <td><a class="label label-info" href="?hireable=true" title="Available for employment or contracting">hireable</a></td>
                <td class="ccol"><a href="?country_code=US" title="" class="tip" data-original-title="San Francisco, California, United States">🇺🇸</a></td>
              </tr>
            
          
            
              
              <tr class="rank-19">
                <td><a name="19"></a>19</td>
                <td>
                  <a class="leader-coder" href="/@bombies?rank=19&amp;page=1"><img src="https://wakatime.com/photo/21441df5-6705-441a-94ac-efeebac254de" class="img-circle m-right-xs-5">Ajani Green</a>
                </td>
                <td class="tcol">65 hrs 8 mins</td>
                <td class="avgcol">4 years</td>
                <td class="langcol"><span><a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/css">CSS</a>, <a href="/leaders/language/java">Java</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/bash">Bash</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/html">HTML</a>, <a href="/leaders/language/xml">XML</a>, <a href="/leaders/language/git%20config">Git Config</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=JM" title="" class="tip" data-original-title="Kingston, Jamaica">🇯🇲</a></td>
              </tr>
            
          
            
              
              <tr class="rank-20">
                <td><a name="20"></a>20</td>
                <td>
                  <a class="leader-coder" href="/@awais_amjed?rank=20&amp;page=1"><img src="https://wakatime.com/photo/5f9b676a-2d79-4519-9fd0-f7f845838ae0" class="img-circle m-right-xs-5">Awais Amjed</a>
                </td>
                <td class="tcol">64 hrs 57 mins</td>
                <td class="avgcol">1 year</td>
                <td class="langcol"><span><a href="/leaders/language/dart">Dart</a>, <a href="/leaders/language/ruby">Ruby</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/groovy">Groovy</a>, <a href="/leaders/language/xml">XML</a>, <a href="/leaders/language/properties">Properties</a>, <a href="/leaders/language/java">Java</a>, <a href="/leaders/language/text">Text</a>, …</span></td>
                <td><a class="label label-info" href="?hireable=true" title="Available for employment or contracting">hireable</a></td>
                <td class="ccol"><a href="?country_code=PK" title="" class="tip" data-original-title="Dadu, Sindh, Pakistan">🇵🇰</a></td>
              </tr>
            
          
            
              
              <tr class="rank-21">
                <td><a name="21"></a>21</td>
                <td>
                  <a class="leader-coder" href="/@klincoder?rank=21&amp;page=1"><img src="https://wakatime.com/photo/4c09f3d6-6027-46a6-9631-e3c2ca602ba2" class="img-circle m-right-xs-5">Klincoder</a>
                </td>
                <td class="tcol">63 hrs 39 mins</td>
                <td class="avgcol">3 years</td>
                <td class="langcol"><span><a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/bash">Bash</a> </span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=GH" title="" class="tip" data-original-title="Accra, Ghana">🇬🇭</a></td>
              </tr>
            
          
            
              
              <tr class="rank-22">
                <td><a name="22"></a>22</td>
                <td>
                  <a class="leader-coder" href="/@ntnyq?rank=22&amp;page=1"><img src="https://wakatime.com/photo/79d45fbd-b519-4968-925f-64dbdf0f5186" class="img-circle m-right-xs-5">@ntnyq</a>
                </td>
                <td class="tcol">63 hrs 20 mins</td>
                <td class="avgcol">4 years</td>
                <td class="langcol"><span><a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/vue.js">Vue.js</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/smarty">Smarty</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/html">HTML</a>, <a href="/leaders/language/scss">SCSS</a>, <a href="/leaders/language/yaml">YAML</a>, …</span></td>
                <td></td>
                <td class="ccol"></td>
              </tr>
            
          
            
              
              <tr class="rank-23">
                <td><a name="23"></a>23</td>
                <td>
                  <a class="leader-coder" href="/@bufleek?rank=23&amp;page=1"><img src="https://wakatime.com/photo/a3e8bede-fd75-4fb7-bf7d-ebedf004ec2b" class="img-circle m-right-xs-5">Bruno Kiprop</a>
                </td>
                <td class="tcol">63 hrs 19 mins</td>
                <td class="avgcol">16 years</td>
                <td class="langcol"><span><a href="/leaders/language/dart">Dart</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/xml">XML</a>, <a href="/leaders/language/git%20config">Git Config</a> </span></td>
                <td><a class="label label-info" href="?hireable=true" title="Available for employment or contracting">hireable</a></td>
                <td class="ccol"><a href="?country_code=KE" title="" class="tip" data-original-title="Nairobi, Kenya">🇰🇪</a></td>
              </tr>
            
          
            
              
              <tr class="rank-24">
                <td><a name="24"></a>24</td>
                <td>
                  <a class="leader-coder" href="/@JounQin?rank=24&amp;page=1"><img src="https://wakatime.com/photo/dffd0741-19a5-41de-8f81-21934991e045" class="img-circle m-right-xs-5">JounQin</a>
                </td>
                <td class="tcol">63 hrs 1 min</td>
                <td class="avgcol">2 years</td>
                <td class="langcol"><span><a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/go">Go</a>, <a href="/leaders/language/html">HTML</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/scss">SCSS</a>, <a href="/leaders/language/python">Python</a>, <a href="/leaders/language/mdx">MDX</a>, …</span></td>
                <td></td>
                <td class="ccol"></td>
              </tr>
            
          
            
              
              <tr class="rank-25">
                <td><a name="25"></a>25</td>
                <td>
                  <a class="leader-coder" href="/@bkader?rank=25&amp;page=1"><img src="https://wakatime.com/photo/8fc194fa-5e83-446c-9cab-0d0b69986fb6" class="img-circle m-right-xs-5">Kader Bouyakoub</a>
                </td>
                <td class="tcol">63 hrs</td>
                <td class="avgcol">1year</td>
                <td class="langcol"><span><a href="/leaders/language/lua">Lua</a>, <a href="/leaders/language/tex">TeX</a>, <a href="/leaders/language/xml">XML</a>, <a href="/leaders/language/sublime%20text%20config">Sublime Text Config</a>, <a href="/leaders/language/markdown">Markdown</a> </span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=DZ" title="" class="tip" data-original-title="Algiers, Algeria">🇩🇿</a></td>
              </tr>
            
          
            
              
              <tr class="rank-26">
                <td><a name="26"></a>26</td>
                <td>
                  <a class="leader-coder" href="/@laitingsheng?rank=26&amp;page=1"><img src="https://wakatime.com/photo/7c521748-c4e2-4b07-9c5e-8e6011850c16" class="img-circle m-right-xs-5">Tinson Lai</a>
                </td>
                <td class="tcol">62 hrs 42 mins</td>
                <td class="avgcol">5 years</td>
                <td class="langcol"><span><a href="/leaders/language/java">Java</a>, <a href="/leaders/language/c%2B%2B">C++</a>, <a href="/leaders/language/kotlin">Kotlin</a>, <a href="/leaders/language/python">Python</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/cmake">CMake</a>, <a href="/leaders/language/xml">XML</a>, <a href="/leaders/language/gitignore%20file">GitIgnore file</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=CN" title="" class="tip" data-original-title="Guangzhou, Guangdong, China">🇨🇳</a></td>
              </tr>
            
          
            
              
              <tr class="rank-27">
                <td><a name="27"></a>27</td>
                <td>
                  <a class="leader-coder" href="/@mcereal?rank=27&amp;page=1"><img src="https://wakatime.com/photo/cf6c9013-a24e-473b-bf30-766453b4988a" class="img-circle m-right-xs-5">MICHAEL CURTIS</a>
                </td>
                <td class="tcol">61 hrs 45 mins</td>
                <td class="avgcol">9 years</td>
                <td class="langcol"><span><a href="/leaders/language/go">Go</a>, <a href="/leaders/language/terraform">Terraform</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/bash">Bash</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/docker">Docker</a>, <a href="/leaders/language/html">HTML</a>, <a href="/leaders/language/nginx%20configuration%20file">Nginx configuration file</a>, …</span></td>
                <td><a class="label label-info" href="?hireable=true" title="Available for employment or contracting">hireable</a></td>
                <td class="ccol"><a href="?country_code=US" title="" class="tip" data-original-title="Raleigh, North Carolina, United States">🇺🇸</a></td>
              </tr>
            
          
            
              
              <tr class="rank-28">
                <td><a name="28"></a>28</td>
                <td>
                  <a class="leader-coder" href="/@thuongtruong1009?rank=28&amp;page=1"><img src="https://wakatime.com/photo/4c54d05e-bd51-4cf8-8d4e-e1a2c45d4dc2" class="img-circle m-right-xs-5">Thuong Truong</a>
                </td>
                <td class="tcol">61 hrs 37 mins</td>
                <td class="avgcol">10 years</td>
                <td class="langcol"><span><a href="/leaders/language/vue.js">Vue.js</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/html">HTML</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/php">PHP</a>, <a href="/leaders/language/yaml">YAML</a>, <a href="/leaders/language/css">CSS</a>, <a href="/leaders/language/bash">Bash</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=VN" title="" class="tip" data-original-title="Ho Chi Minh City, Ho Chi Minh, Vietnam">🇻🇳</a></td>
              </tr>
            
          
            
              
              <tr class="rank-29">
                <td><a name="29"></a>29</td>
                <td>
                  <a class="leader-coder" href="/@muigai_david?rank=29&amp;page=1"><img src="https://wakatime.com/photo/49fb5943-1467-45d0-b0c7-edaeffd27625" class="img-circle m-right-xs-5">David Muigai</a>
                </td>
                <td class="tcol">61 hrs 30 mins</td>
                <td class="avgcol">8 years</td>
                <td class="langcol"><span><a href="/leaders/language/kotlin">Kotlin</a>, <a href="/leaders/language/xml">XML</a>, <a href="/leaders/language/java">Java</a>, <a href="/leaders/language/groovy">Groovy</a> </span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=KE" title="" class="tip" data-original-title="Nairobi, Kenya">🇰🇪</a></td>
              </tr>
            
          
            
              
              <tr class="rank-30">
                <td><a name="30"></a>30</td>
                <td>
                  <a class="leader-coder" href="/@caarlos?rank=30&amp;page=1"><img src="https://wakatime.com/photo/f7d2af3a-edb4-4cf9-b88c-56c89386c124" class="img-circle m-right-xs-5">Carlos Roberto</a>
                </td>
                <td class="tcol">61 hrs 26 mins</td>
                <td class="avgcol">10 years</td>
                <td class="langcol"><span><a href="/leaders/language/vue.js">Vue.js</a>, <a href="/leaders/language/typescript">TypeScript</a>, <a href="/leaders/language/javascript">JavaScript</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/css">CSS</a>, <a href="/leaders/language/html">HTML</a>, <a href="/leaders/language/json">JSON</a>, <a href="/leaders/language/php">PHP</a>, <a href="/leaders/language/blade%20template">Blade Template</a>, …</span></td>
                <td><a class="label label-info" href="?hireable=true" title="Available for employment or contracting">hireable</a></td>
                <td class="ccol"><a href="?country_code=BR" title="" class="tip" data-original-title="Brasília, Federal District, Brazil">🇧🇷</a></td>
              </tr>
            
          
            
              
              <tr class="rank-31">
                <td><a name="31"></a>31</td>
                <td>
                  <a class="leader-coder" href="/@thyrix?rank=31&amp;page=1"><img src="https://wakatime.com/photo/31602cf5-fb42-4942-b483-8b0e9c5141c8" class="img-circle m-right-xs-5">Thyrix Yang</a>
                </td>
                <td class="tcol">61 hrs 19 mins</td>
                <td class="avgcol">8 years</td>
                <td class="langcol"><span><a href="/leaders/language/python">Python</a>, <a href="/leaders/language/tex">TeX</a>, <a href="/leaders/language/markdown">Markdown</a>, <a href="/leaders/language/bibtex">BibTeX</a>, <a href="/leaders/language/docker">Docker</a> </span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=CN" title="" class="tip" data-original-title="Wuhan, Hubei, China">🇨🇳</a></td>
              </tr>
            
          
            
              
              <tr class="rank-32">
                <td><a name="32"></a>32</td>
                <td>
                  <a class="leader-coder" href="/@SamProgramiz?rank=32&amp;page=1"><img src="https://wakatime.com/photo/a44dd291-9573-44f6-86ce-52fef9a5fd84" class="img-circle m-right-xs-5">samuel owino</a>
                </td>
                <td class="tcol">61 hrs</td>
                <td class="avgcol">8 years</td>
                <td class="langcol"><span><a href="/leaders/language/java">Java</a>, <a href="/leaders/language/swift">Swift</a>, <a href="/leaders/language/xml">XML</a>, <a href="/leaders/language/groovy">Groovy</a>, <a href="/leaders/language/properties">Properties</a>, <a href="/leaders/language/sql">SQL</a>, <a href="/leaders/language/objectivec">ObjectiveC</a>, <a href="/leaders/language/text">Text</a>, <a href="/leaders/language/javascript">JavaScript</a>, …</span></td>
                <td></td>
                <td class="ccol"><a href="?country_code=KE" title="" class="tip" data-original-title="Kakamega, Kenya">🇰🇪</a></td>
              </tr>
            
          
            
              
              
               
            
          
      
             
            
          
        
        
      </tbody>
    </table>
  </div>
</div>