#container {
    border-collapse: collapse;
    width: 600px;
    height: auto;
  }
  
  .row {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
  }

  th {
    text-align: left;
    color: white;
  }

  table {
    border-spacing: 7px;
  }
 

  td {
    font-size: 12.8px;
    font-family: 'Rubik',sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
  }

  .row:nth-child(1) {
    padding: 5px;
    background: #149ccc;
  }

a {
  color: #337ab7;
  text-decoration: none;
}


