<div class="container">
  <div class="child">
    <a href="/profile">
      <app-profile [Name]="Name1" [Age]="Age1" [Education]="Education1" [Skills]="Skills1" [imgSrc]="imgSrc" [imgAlt]="imgAlt" [CV]="CV"></app-profile>
    </a>
  </div>
  <div class="child">
    <app-profile [Name]="Name2" [Age]="Age2" [Education]="Education2" [Skills]="Skills2" [imgSrc]="imgSrc2" [imgAlt]="imgAlt" [CV]="CV"></app-profile>
  </div>
  <div class="child">
    <app-profile [Name]="Name3" [Age]="Age3" [Education]="Education3" [Skills]="Skills3" [imgSrc]="imgSrc3" [imgAlt]="imgAlt" [CV]="CV"></app-profile>
  </div>
  <div class="child">
    <app-profile [Name]="Name4" [Age]="Age4" [Education]="Education4" [Skills]="Skills4" [imgSrc]="imgSrc4" [imgAlt]="imgAlt" [CV]="CV"></app-profile>
  </div>
</div>
